
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplikasi Bea Cukai Polling</title>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">!-->
    <link rel="stylesheet" href="{% static 'bootstrap/bs/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'mystyle.css'%}">
    <script src = "{% static 'bootstrap/bs/jquery/jquery.js' %} "></script>
    <script src = "{% static 'bootstrap/bs/js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h2> Polling System Bea Cukai</h2>
        <p><img src="{% static 'images/logo.jpg' %}" width="100" align="left" border="0" > Silahkan Pilih Polling yang Anda inginkan terkait
            Pelayanan kami. terima kasih</p>
       </div>

    {% block main_content %}

    {% endblock %}

    {% include 'polls/footer.html' %}

</div>


</body>
</html>