
    {% extends 'polls/base.html' %}
    {% block main_content %}

        <a href="javascript:window.history.back()" class="btn btn-info">
            <span class="glyphicon glyphicon-chevron-left"></span>Back</a>
        <h2> {{pertanyaandetail.question_text}} </h2>
        <br> Created by : {{pertanyaandetail.createby}}

        <ul class="list-group">
            {% for jawaban in pertanyaandetail.choice_set.all %}
            <li class="list-group-item">{{jawaban.choice_text}} <span class="badge">{{jawaban.votes}}</span></li>
            {% endfor %}
        </ul>

    {% endblock %}

