<div class="sidebar">
{% extends 'polls/base.html' %}
{% block main_content %}

        {% if pertanyaan %}
       <table class="table table-striped">
           <thead>
                <tr>
                    <th>ID Polling</th>
                    <th>Polling </th>
                    <th>Published</th>
                    <th>Admin</th>
                </tr>
           </thead>
           <tbody>
               {% for question  in pertanyaan %}
                <tr>
                    <td>{{question.pk}}</td>
                    <td>{{question.question_text}}</td>
                    <td>{{question.pub_date}}</td>
                    <td><a href="/polls/{{question.pk}}" class="btn btn-success">
                            <span class="glyphicon glyphicon-hand-right"></span> Detail</a>
                        <a href="#" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span> Edit </a>
                        <a href="#" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Del </a>
                    </td>
                </tr>
                {% endfor %}
           </tbody>

       </table>
         {% else %}
            <p> Belum ada Pertanyaan Polling !</p>
        {% endif %}

{% endblock %}
</div>




